fastapi
uvicorn
vaderSentiment
librosa
numpy
scipy
scikit-learn==1.7.2
pandas
joblib
openai
python-dotenv
nltk
firebase-admin
python-multipart
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-storage
